@model List<WamTechReservation.Models.Reservation>

<h2>Reservations</h2>
<hr />
@if(TempData["AlertMessage"] != null) 
{
    <div class="alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
}
<div class="row p-3 mb-2 bg-light text-dark">
    <div class="col-md-12">
        <table class="table table-hover table-dark">
            <thead class="border-secondary" style="font-size: 16px">
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Telephone</td>
                    <td>Reservation Type</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Manage</td>
                </tr>
            </thead>
            <tbody style="color:darkgray; font-size:14px">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Telephone</td>
                        <td>@item.Type</td>
                        <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a class="badge badge-primary" asp-action="Edit" asp-controller="Reservations" asp-route-id="@item.Id">Edit</a>
                            <a class="badge badge-danger" asp-action="Delete" asp-controller="Reservations" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Reservations" class="btn btn-success">Add Reservation</a>
    </div>
</div>
